{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block title%} PAROLNI OZGARTIRISH {%endblock title%}
{% block content %}
<style>
    /* Barcha sahifaga umumiy stil */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f3f4f6;
        font-family: Arial, sans-serif;
    }

    /* Login konteyneri */
    .login-container {
        width: 100%;
        max-width: 400px;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .login-container h2 {
        margin-bottom: 20px;
        color: #333333;
    }

    /* Inputlar */
    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s;
    }

    .login-container input[type="text"]:focus,
    .login-container input[type="password"]:focus {
        border-color: #6c63ff;
    }

    /* Login tugmasi */
    .login-container button {
        width: 100%;
        padding: 12px;
        background-color: #6c63ff;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    .login-container button:hover {
        background-color: #5853d3;
    }
</style>

<div class="body">

    <div class="login-container">
        <h2>PAROLNI OZGARTIRISH</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit">OZGARTIRISH </button>
            </form>
        </div>
    
</div>
{% endblock content %}
